@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
	background: #0a0a0a;
	color: #f3f4f6;
}

@layer utilities {
	@keyframes blinking {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
	.animate-blink {
		animation: blinking 0.8s step-end infinite;
	}

	@keyframes loading {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(250%);
		}
	}

	.animate-loading-bar {
		animation: loading 0.8s ease infinite;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.modal-backdrop.open {
	opacity: 1;
	pointer-events: auto;
}
.modal-content {
	background: black;
	overflow-y: auto;
	max-height: 90vh;
	border-radius: 0.75rem; /* rounded-xl */
	padding: 2rem; /* p-8 */
	min-width: 300px;
	min-height: 100px;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1); /* border-white/10 */
	transform: translateY(40px) scale(0.98);
	opacity: 0;
	/* transition: all 0.3s ease;  */
}
.modal-content.open {
	opacity: 1;
	/* transform: translateY(0) scale(1); */
}
